[Unit]
Description=HW07 Activity Planner Pt. 1

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4793
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/events/webdevhw07
ExecStart=/bin/bash /home/events/webdevhw07/start.sh

[Install]
WantedBy=multi-user.target
