/* This file is for your main application css. */
@import "bootstrap";

.invalid-feedback {
    display: block;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
  }

  a {
    margin: 10px;
  }

  .nav-item {
    display: flex;
    justify-content: space-evenly;
    font-size: 15pt;
  }

  .title {
    text-decoration: none;
    color: black;
  }

  .title:hover {
    text-decoration: none;
    color: black;
  }

  .card {
    margin: 5px;
    width: 20vw;
    height: 30vh;
  }

  .comment-card {
    width: 100%;
    height: auto;
  }

  .comm-pic-crop{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
  }

  .comm-pic{
    height: auto;
    width: 100%;
  }

  .activity-pic-crop{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
  }

  .activity-pic{
    height: auto;
    width: 100%;
  }

  .activity-name {
    font-size: 20pt;
  }

  .activity-creator {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile-image-crop{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .user-profile-photo{
    height: auto;
    width: 100%;
    margin: auto;
  }

  .comment-row{
    justify-content: space-between;
  }

  .inner-row{
    margin-left: 10px;
  }

  .del-comm {
    text-decoration: none;
    color: grey;
  }

  .del-comm:hover {
    text-decoration: none;
    color: grey;
  }

  .align-text-center{
    margin: 20px;
    text-align: center;
  }

  .attribution {
    justify-content: end;
    margin: 10px;
    margin-top: auto;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }