<h1><%= @activity.name %></h1>

<h2>Date: <%= @activity.date%></h2>

<div>
  <%= @activity.body %>
</div>

<p>
  <%= if current_user_id?(@conn, @activity.user_id) do%>
    <span><%= link "Edit", to: Routes.activity_path(@conn, :edit, @activity) %></span>
  <% end%>
  <span><%= link "Back", to: Routes.activity_path(@conn, :index) %></span>
</p>
