<div class="row">
  <div class="col">
    <h1>Activity Feed</h1>
  </div>
</div>

<div class="row">
  <%= for activity <- @activities do %>
    <div class="col-sm-4 card">
      <!--
      <img class="card-img-top" src="" alt="">
      -->
      <div class="card-body">
        <p class="card-text"><%= activity.body %></p>
        <%= link "view", to: Routes.activity_path(@conn, :show, activity) %>
      </div>
    </div>
  <% end %>
</div>